# vim swap files
**/*.sw[po]

# Terraform state and lock files
**/.terraform.lock.hcl
**/.terraform

# IDE Folders
**/.vscode

# Mac Finder cache
**/.DS_Store

# Generated pre-commit configuration
/.pre-commit-config.yaml
/.pre-commit-config.yaml.tmp
